h2{
    margin-top: 10px;
}
form{
    width: 400px;
    outline: 2px solid red;
    display: none;
}
.container{
    display: flex;
}
.div-item{
    margin-left: 100px;
}
.category{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.item{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.item-info{
    margin-left: 100px;
    display: none;
}
.form-btn,.info-btn{
    cursor: pointer;
}
.div-items{
    display: none;
}